.inventory {
  display: flex;
  padding: 10px;
  flex-direction: column;
}

#equip-table {
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  width: 120px;
}

i {
  padding: 10px;
  font-size: 25px;
}
